{% extends "home.html" %}
{% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    <tr>
        <th>First Name</th>
        <th>last Name</th>
        <th>Clock Type</th>
        <th>Time</th>
    </tr>
    {% for clockEvent in clockEvents %}
    <tr>
        <td>{{ clockEvent.firstName }}</td>
        <td>{{ clockEvent.lastName }}</td>
        <td>{{ clockEvent.clockType }}</td>
        <td>{{ clockEvent.eventTime }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
