<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiMaMa Day Care System</title>
</head>
<body>
<form action="" method="post" accept-charset="utf-8">
    <p>First Name: <input type="text" placeholder="First Name" name="firstName"></p>
    <p>Last Name: <input type="text" placeholder="Last Name" name="lastName"></p>
    <p>Clock In or Clock Out:
        <input type="radio" name="clockType" value="clockIn"> Clock In<br>
        <input type="radio" name="clockType" value="clockOut"> Clock Out<br>
    </p>
    <input type="submit" value="Submit">
</form>
<script>

</script>

</body>
</html>