<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiMaMa Day Care System</title>
</head>

<style>
    body {
        text-align: center;
        background: beige;
    }
    input.button {
        background-color: lightblue;
        margin-bottom: 20px;
    }
</style>

<body>
    <div>
        <form action="/create-clock-event" method="post" accept-charset="utf-8">
            <p>First Name: <input type="text" placeholder="First Name" name="firstName" required></p>
            <p>Last Name: <input type="text" placeholder="Last Name" name="lastName" required></p>
            <p>Clock In or Clock Out:<br>
                <input type="radio" name="clockType" value="clock In" required> Clock In<br>
                <input type="radio" name="clockType" value="clock Out"> Clock Out<br>
            </p>
            <input class="button" type="submit" value="Submit"><br>
        </form>
    </div>
    <div>
        <form action="/list-clock-event" method="get" accept-charset="utf-8">
            <input class="button" type="submit" value="Show the Clock Event Logs"><br>
        </form>
        {% block body %}{% endblock %}
    </div>
</body>
</html>
